@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: rgb(223, 223, 223);
  // font-size: 22px;
  // font-weight: bold;
}

.upload-border {
  margin-bottom: 20px;
  margin-top: 30px;
}

.post-description {
  font-size: 22px;
  text-align: center;
}

#choose_file {
  right: 200px;
}
